* {
  align-content: center;
  flex-wrap: wrap;

}

.clearfix {
  padding: 30px;
  border: 30px;
  margin: 15px;
}

.container {
  padding-bottom: 100px;
  border: 20px;
  margin-bottom: 30px;
  background-color: red;
}

.testimonials {
  padding-top: 300px;
  margin: 10px;
}

.border {
  height: 3px;
  width: 120px;
  background-color: red;
}

.App {
  color: white;
  margin: 100px;
  padding: 5em;
  text-align: center;
  background-color: red;
}

.footers {
  color: white;
  width: 100%;
  display: block;
  background: black;
  font-family: sans-serif;
  position: relative;
  height: initial;
}

.footer-container {
  width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
  padding: 30px 10px;
}

.footer-items {
  width: 25%;
  padding: 10px 20px;
  box-sizing: border-box;
}

h5 {
  padding: 10px;
  font-size: 20px;
  text-align: center;
  border: solid 1px;
  border-radius: 30px;
  margin: 30px;
}

h2 {
  padding: 10px 0px;
  font-size: 25px;
}

ul {
  list-style: none;
  font-size: small;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

ul a {
  text-decoration: none;
  outline: none;
  color: white;
  transition: 0.3s;
  line-height: 40px;
}

ul li {
  margin: 30px 0;
  height: 25px;
  width: 150px;
}

.footer-bottom {
  margin: 0 auto;
  padding: 4em;
  font-size: 12px;
  align-content: flex-start;
  flex-direction: row;
  display: flex;
}

.social-media {
  width: 100%;
  color: white;
  text-align: end;
}

.social-media a {
  text-decoration: none;
}

.social-media i {
  height: 15px;
  width: 15px;
  margin: 20px 5px;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid white;
}

.social-media i:hover {
  background: white;
}

@media screen and (max-width: 1085px) {
  .footer-items {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .footer-items {
    width: 100%;
  }
}


.btn:focus, .btn:active, .btn {
  outline: none !important;
  box-shadow: none !important;
}

a:hover {
  text-decoration: none !important;
  cursor: pointer;
}

.red-btn {
  border-color: #d32f2f;
  background-color: #d32f2f;
}

.white-btn {
  border-color: #d32f2f;
  background-color: whitesmoke;
}


.form-control.form-control-lg:focus {
  outline-color: rgb(211, 47, 47);
}

.btn.btn-primary.btn-lg.border.rounded.border-danger.shadow-none {
  padding-top: 10px;
}

.btn.btn-primary.btn-lg.border.rounded.border-danger.shadow-none:hover {
  background-color: rgba(211, 47, 47, .1) !important;
}

.btn.btn-primary.border.rounded.border-white.shadow-none {
  padding-top: 10px;

}

.btn.btn-primary.border.rounded.border-white.shadow-none:hover {
    background-color: rgba(211, 47, 47, .9) !important;
}


