{% include "./base.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-2" style="background-color: #d32f2f;">
            <div style="width: 100%;height: 100vh;padding-top: 52%;">
                <div style="margin: 0 auto;">
                    <div class="container" style="text-align: center;padding-left: 20px;">
                        <button class="btn btn-primary btn-lg border rounded border-danger shadow-none" type="button" style="background-color: #fffefe;color: rgb(4,4,4);font-weight: bold;height: 42px;font-size: 14px;width: 150px;margin-bottom: 25px;">Overview</button>
                        <button class="btn btn-primary btn-lg border rounded border-danger shadow-none" type="button" style="background-color: #fffefe;color: rgb(4,4,4);font-weight: bold;height: 42px;font-size: 14px;width: 150px;margin-bottom: 25px;">Profile</button>
                        <button class="btn btn-primary btn-lg border rounded border-danger shadow-none" type="button" style="background-color: black;color: white;font-weight: bold;height: 42px;font-size: 14px;width: 150px;margin-bottom: 25px;">Medical History</button>
                        <button class="btn btn-primary btn-lg border rounded border-danger shadow-none" type="button" style="background-color: #fffefe;color: rgb(2,2,2);font-weight: bold;height: 42px;font-size: 14px;width: 150px;margin-bottom: 25px;">Messages</button>
                        <button class="btn btn-primary btn-lg border rounded border-danger shadow-none" type="button" style="background-color: #fffefe;color: rgb(9,9,9);font-weight: bold;height: 42px;font-size: 14px;width: 150px;">Help &amp; Support</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="container" style="margin-top: 30px;">
                <div class="row">
                    <div class="col-lg-4">
                        <h3 style="margin-top: 18px;font-weight: 700;">Personal Details</h3>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col-lg-4" style="padding-top: 22px;">
                                <a href="#"><img src={{ url_for("static", filename="img/icons/envelope.svg") }} style="margin-right: 35px;height: 22px;"></a>
                                <a href="#"><img src={{ url_for("static", filename="img/icons/bell.svg") }} style="height: 25px;margin-left: 16px;"></a>
                            </div>
                            <div class="col col-lg-8" style="padding-left: 40px;">
                                <div class="row" style="background-color: black;padding: 15px;border-radius: 15px;margin-right: 45px;padding-left: 0px;height: 80px;width: 298px;">
                                    <div class="col-lg-4 offset-lg-0" style="padding: 0px;padding-right: 0px;padding-left: 31px;">
                                        <img src={{ url_for("static", filename="img/first/Ellipse1.png") }} style="height: 50px;margin-top: 1px;"></div>
                                    <div class="col-lg-8" style="padding-left: 0px;margin-left: 0px;">
                                        <h2 class="display-1" style="font-size: 18px;color: rgb(252,252,252);margin: 1px;margin-bottom: 11px;margin-top: 3px;">Oluwafemi Sanni</h2>
                                        <p style="font-size: 14px;margin-bottom: 0px;margin-top: -8px;color: rgb(245,245,245);">Lagos. Nigeria</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="row">
                    <div class="col">
                        <h1 style="color: #d32f2f;font-size: 15px;font-weight: 700;margin-top: 15px;margin-bottom: 15px;">History</h1>
                        <div class="table-responsive table-borderless" style="margin-top: 0px;width: 80%;">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Hospital</th>
                                        <th>Case</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="font-size: 12px;">24/01/2022</td>
                                        <td style="font-weight: 700;font-size: 12px;">Reddington Hospital</td>
                                        <td style="font-size: 12px;">Diagnosed with Typhoid</td>
                                        <td><a href="#" style="font-weight: 700;color: black;font-size: 12px;">View Details</a></td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 12px;">24/01/2022</td>
                                        <td style="font-weight: 700;font-size: 12px;">Reddington Hospital</td>
                                        <td style="font-size: 12px;">Diagnosed with Typhoid</td>
                                        <td><a href="#" style="font-weight: 700;color: black;font-size: 12px;">View Details</a></td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 12px;">24/01/2022</td>
                                        <td style="font-weight: 700;font-size: 12px;">Reddington Hospital</td>
                                        <td style="font-size: 12px;">Diagnosed with Typhoid</td>
                                        <td><a href="#" style="font-weight: 700;color: black;font-size: 12px;">View Details</a></td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 12px;">24/01/2022</td>
                                        <td style="font-weight: 700;font-size: 12px;">Reddington Hospital</td>
                                        <td style="font-size: 12px;">Diagnosed with Typhoid</td>
                                        <td><a href="#" style="font-weight: 700;color: black;font-size: 12px;">View Details</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}