{% include "./base.html" %}
{% block content %}
    <div style="width: 100%;text-align: right;margin-top: 30px;"><a href={{ url_for("index") }} style="margin-right: 50px;text-decoration: none;font-weight: 500;color: #D32F2F;">Go Back to Dashboard</a></div>
    <div class="row">
        <div class="col" style="margin-top: 0px;width: 100vw;">
            <div class="container" style="width: 60%;">
                <div class="row" style="width: 80%;margin: 0 auto;">
                    <div class="col">
                        <div style="height: 100%;text-align: center;padding-top: 10%;">
                            <div>
                                <div class="row">
                                    <div class="col-lg-2"><img class="flash animated" src={{ url_for("static", filename="img/unsplash_iFgRcqHznqg.png") }} style="margin-top: 10px;height: 70px;"></div>
                                    <div class="col-lg-8" style="padding-left: 0px;padding-right: 0px;">
                                        <h1 style="font-size: 2em;font-weight: 700;margin-bottom: 4px;">Congratulations!</h1>
                                        <h1 style="font-size: 2em;font-weight: 700;padding-left: 0px;">You have a match</h1>
                                    </div>
                                    <div class="col-lg-2" style="padding-right: 15px;margin-right: 0px;padding-left: 0px;margin-left: -4px;">
                                        <img class="flash animated" src={{ url_for("static", filename="img/unsplash_jGmBZypoFPc.png") }} style="height: 70px;width: 70px;margin-top: 10px;margin-right: 0px;">
                                    </div>
                                </div>
                            </div>
                            <div style="margin: 0 auto;width: 100%;margin-top: 20px;">
                                <p class="text-center" style="font-size: 12px;color: black;margin-bottom: 0px;">You have peered with a donor in your city.</p>
                                <p class="text-center" style="font-size: 12px;color: black;">Your donor has been notified</p>
                                <div>
                                    <h1 style="font-size: 24px;font-weight: 700;color: #d32f2f;">Donor Information</h1>
                                    <p style="color: #d32f2f;font-size: 14px;margin-bottom: -4px;"><strong>Didam Thinker</strong></p>
                                    <p style="color: #d32f2f;margin-bottom: 0px;font-size: 12px;">3, Computer Village, Ikeja<br></p>
                                    <p style="color: #d32f2f;font-size: 12px;">07034567681<br></p><button class="btn btn-primary btn-lg" type="button" style="font-size: 14px;padding: 16px;height: 45px;border-color: #001427;background-color: #001427;padding-top: 12px;margin-top: 10px;width: 140px;"><strong>Notify Donor</strong><br></button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}